#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Label_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}