
codigo/karma-server/.direnv
codigo/karma-server/pip-selfcheck\.json

\.vscode/

codigo/karma-server/src/app\.db

codigo/karma-server/src/migrations/
TODOs.txt
*.pyc
codigo/karma-server/src/htmlcov/
*.coverage
