#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Rectangle_34 {
  -ms-transform: rotate(0.0deg);
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Panel_22 > .valign {
  vertical-align: top;
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 #t-Label_69 {
  -ms-transform: rotate(0.0deg);
}
#t-ab8d3f52-7dd3-4b2e-9631-8e0ee6945232 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}