#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Rectangle_1 {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 360px;
  height: 573px;
  background-color: #4A86E8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Rectangle_1 span {
  color: #4384F7;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #4384F7;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Logo {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 360px;
  height: 196px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Text_1 {
  position: absolute;
  top: 257px;
  left: 0px;
  padding-right: 16px;
  padding-left: 16px;
  width: 328px;
  height: 77px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Group_1 {
  position: absolute;
  top: 333px;
  left: 160px;
  width: 36px;
  height: 36px;
  display: none;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
  overflow: hidden;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Ellipse_1 .content {
  width: 36px;
  height: 36px;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Ellipse_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-spinner-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Image_1 {
  position: absolute;
  top: 395px;
  left: 10px;
  width: 340px;
  height: 181px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}