#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Titulo {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Imagen_Espacio {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Circulo_Cancelar {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Icono_Cancelar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Zona_Cancelar {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Niveles {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Circulo_Brillo {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Icono_Brillo {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Zona_Brillo {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse_23 {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse_24 {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}