#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-base_1 {
  -ms-transform: rotate(0.0deg);
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Panel_22 > .valign {
  vertical-align: top;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Label_69 {
  -ms-transform: rotate(0.0deg);
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-arrow-back_4 {
  -ms-transform: rotate(0.0deg);
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}