#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteIcon {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteButton {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingIcon {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingButton {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ObservationsButton {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeIcon {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeButton {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteIcon_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteButton_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingIcon_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingButton_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ObservationsButton_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeIcon_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeButton_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeIcon_7 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeButton_7 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ObservationsButton_7 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteIcon_7 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteButton_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingIcon_7 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingButton_7 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeIcon_8 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeButton_8 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ObservationsButton_8 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteIcon_8 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteButton_4 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingIcon_8 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingButton_8 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Link_Mas_Estadisticas_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextStats_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TituloEstadisticas_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Link_Mas_Estadisticas {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextStats {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TituloEstadisticas {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextPoints {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Button_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 9px;
  width: 104px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Button_20 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 9px;
  width: 104px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextoVotos_6 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-NumVotos_6 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ImagenVota_6 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextoVotos_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-NumVotos_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ImagenVota_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextoVotos_4 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-NumVotos_4 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ImagenVota_4 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextoVotos_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-NumVotos_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ImagenVota_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextoVotos_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-NumVotos_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ImagenVota_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextoVotos_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-NumVotos_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ImagenVota_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-LabVota {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-LabObserv {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Label_27 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_7 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_7 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12) alpha(opacity=12);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Ellipse_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ObservationsIcon {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Ellipse_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-base_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Panel_22 > .valign {
  vertical-align: top;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Label_69 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ScreenName {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}