#s-8ea2f51a-7df3-43ed-a074-0640ee14bd6d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ea2f51a-7df3-43ed-a074-0640ee14bd6d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ea2f51a-7df3-43ed-a074-0640ee14bd6d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ea2f51a-7df3-43ed-a074-0640ee14bd6d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ea2f51a-7df3-43ed-a074-0640ee14bd6d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ea2f51a-7df3-43ed-a074-0640ee14bd6d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ea2f51a-7df3-43ed-a074-0640ee14bd6d #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ea2f51a-7df3-43ed-a074-0640ee14bd6d #s-Titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ea2f51a-7df3-43ed-a074-0640ee14bd6d #s-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ea2f51a-7df3-43ed-a074-0640ee14bd6d #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8ea2f51a-7df3-43ed-a074-0640ee14bd6d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}