#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Button_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Button_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Button_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Button_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Button_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Input_6 INPUT {
  font-family: Arial;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}