#s-6f7adb26-f4e2-4ebc-ab32-ee9623cf271b #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6f7adb26-f4e2-4ebc-ab32-ee9623cf271b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6f7adb26-f4e2-4ebc-ab32-ee9623cf271b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6f7adb26-f4e2-4ebc-ab32-ee9623cf271b #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6f7adb26-f4e2-4ebc-ab32-ee9623cf271b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6f7adb26-f4e2-4ebc-ab32-ee9623cf271b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6f7adb26-f4e2-4ebc-ab32-ee9623cf271b #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-6f7adb26-f4e2-4ebc-ab32-ee9623cf271b #s-Titulo {
  -ms-transform: rotate(0.0deg);
}
#s-6f7adb26-f4e2-4ebc-ab32-ee9623cf271b #s-Logo {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6f7adb26-f4e2-4ebc-ab32-ee9623cf271b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}