#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Logo {
  -ms-transform: rotate(0.0deg);
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 #s-spinner-2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7a8ab4e3-a652-419e-b213-9dccf6672ba7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}