#s-df46f12d-8d34-415f-878c-8f34073eb6d4 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Titulo {
  position: absolute;
  top: 36px;
  left: 53px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Titulo .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Titulo span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Titulo span#rtr-s-Titulo_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Imagen_Espacio {
  position: absolute;
  top: 75px;
  left: 0px;
  width: 360px;
  height: 518px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Grupo_Brillos {
  position: absolute;
  top: 445px;
  left: 8px;
  width: 233px;
  height: 149px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Boton_Cancelar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: none;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Circulo_Cancelar .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  overflow: hidden;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Circulo_Cancelar .content {
  width: 40px;
  height: 40px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Circulo_Cancelar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background-color: #4384F7;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Circulo_Cancelar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Circulo_Cancelar span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Circulo_Cancelar span#rtr-s-Circulo_Cancelar_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Icono_Cancelar_1 > svg {
  width: 24px;
  height: 24px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Icono_Cancelar_1 {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Zona_Cancelar .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  overflow: hidden;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Zona_Cancelar .content {
  width: 40px;
  height: 40px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Zona_Cancelar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Zona_Cancelar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Zona_Cancelar span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Zona_Cancelar span#rtr-s-Zona_Cancelar_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Niveles {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 233px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Slider-light {
  position: absolute;
  top: 112px;
  left: 0px;
  display: none;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Panel_5 {
  width: 232px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Line_1 {
  position: absolute;
  top: 16px;
  left: 5px;
  width: 216px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  opacity: 0.12;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse .content {
  width: 20px;
  height: 20px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse {
  position: absolute;
  top: 8px;
  left: 21px;
  width: 20px;
  height: 20px;
  background-color: #4384F7;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Ellipse .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Ellipse span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Ellipse span#rtr-s-Ellipse_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Boton_Brillo {
  position: absolute;
  top: 83px;
  left: 0px;
  width: 40px;
  height: 40px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Circulo_Brillo .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  overflow: hidden;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Circulo_Brillo .content {
  width: 40px;
  height: 40px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Circulo_Brillo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background-color: #4384F7;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Circulo_Brillo .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Circulo_Brillo span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Circulo_Brillo span#rtr-s-Circulo_Brillo_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Icono_Brillo > svg {
  width: 24px;
  height: 24px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Icono_Brillo {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Zona_Brillo .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  overflow: hidden;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Zona_Brillo .content {
  width: 40px;
  height: 40px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Zona_Brillo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Zona_Brillo .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Zona_Brillo span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Zona_Brillo span#rtr-s-Zona_Brillo_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Image_2 > svg {
  width: 24px;
  height: 24px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Image_2 {
  position: absolute;
  top: 36px;
  left: 320px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Text_1 {
  position: absolute;
  top: 36px;
  left: 320px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Group_1 {
  position: absolute;
  top: 520px;
  left: 288px;
  width: 56px;
  height: 56px;
  display: none;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse_23 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  overflow: hidden;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse_23 .content {
  width: 56px;
  height: 56px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse_23 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  background-color: #4384F7;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Ellipse_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Ellipse_23 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Ellipse_23 span#rtr-s-Ellipse_23_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Image_3 > svg {
  width: 24px;
  height: 24px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Image_3 {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse_24 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  overflow: hidden;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse_24 .content {
  width: 56px;
  height: 56px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse_24 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Ellipse_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Ellipse_24 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #shapewrapper-s-Ellipse_24 span#rtr-s-Ellipse_24_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}