#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Button_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 248px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Button_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Button_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 247px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Button_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Button_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Button_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ea522a0d-ae45-4a39-af62-9f8c22ff8269 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}