#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}