#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Imagen_Espacio {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Circulo_Cancelar {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Icono_Cancelar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Zona_Cancelar {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Niveles {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Circulo_Brillo {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Icono_Brillo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Zona_Brillo {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-df46f12d-8d34-415f-878c-8f34073eb6d4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}