#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Horizontal-softkeys {
  position: absolute;
  top: 592px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Rectangle_19 span#rtr-t-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Image_8 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Image_24 {
  position: absolute;
  top: 9px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Image_27 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 76px;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-base_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 287px;
  height: 38px;
  background-color: #4384F7;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-base_1 .valign {
  vertical-align: top;
  text-align: left;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-base_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-base_1 span#rtr-t-base_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-status-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Rectangle_34 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Rectangle_34 .valign {
  vertical-align: middle;
  text-align: right;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Rectangle_34 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Rectangle_34 span#rtr-t-Rectangle_34_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Dynamic_Panel_14 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Panel_22 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Panel_22 .verticalalign {
  vertical-align: top;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Image_23 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Label_69 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Label_69 .valign {
  vertical-align: middle;
  text-align: right;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Label_69 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-Label_69 span#rtr-t-Label_69_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-arrow-back_4 > svg {
  width: 26px;
  height: 26px;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 #t-arrow-back_4 {
  position: absolute;
  top: 36px;
  left: 17px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-b9dc3b40-498f-45ba-8244-13a459d6cc74 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}