#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Personal_1 {
  position: absolute;
  top: 340px;
  left: 0px;
  width: 360px;
  height: 240px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 8px;
  width: 344px;
  height: 240px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 8px 0px #404040;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Text_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 8px;
  padding-left: 16px;
  width: 344px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto Light',Arial;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto Light',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto Light',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_10 {
  position: absolute;
  top: 34px;
  left: 0px;
  padding-top: 8px;
  padding-left: 16px;
  width: 344px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_10 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_10 span#rtr-s-Two-line-item_10_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_10 span#rtr-s-Two-line-item_10_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_10 span#rtr-s-Two-line-item_10_2 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_10 span#rtr-s-Two-line-item_10_3 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_10 span#rtr-s-Two-line-item_10_4 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_10 span#rtr-s-Two-line-item_10_5 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_11 {
  position: absolute;
  top: 84px;
  left: 0px;
  padding-top: 8px;
  padding-left: 16px;
  width: 344px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_11 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_11 span#rtr-s-Two-line-item_11_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_11 span#rtr-s-Two-line-item_11_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_11 span#rtr-s-Two-line-item_11_2 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_11 span#rtr-s-Two-line-item_11_3 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_11 span#rtr-s-Two-line-item_11_4 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_12 {
  position: absolute;
  top: 134px;
  left: 0px;
  padding-top: 8px;
  padding-left: 16px;
  width: 344px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_12 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_12 span#rtr-s-Two-line-item_12_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_12 span#rtr-s-Two-line-item_12_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto Light',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_13 {
  position: absolute;
  top: 184px;
  left: 0px;
  padding-top: 8px;
  padding-left: 16px;
  width: 344px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_13 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_13 span#rtr-s-Two-line-item_13_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_13 span#rtr-s-Two-line-item_13_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_13 span#rtr-s-Two-line-item_13_2 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_13 span#rtr-s-Two-line-item_13_3 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Personal {
  position: absolute;
  top: 91px;
  left: 0px;
  width: 360px;
  height: 240px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 8px;
  width: 344px;
  height: 240px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 8px 0px #404040;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Text_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 8px;
  padding-left: 16px;
  width: 344px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto Light',Arial;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto Light',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto Light',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_1 {
  position: absolute;
  top: 34px;
  left: 0px;
  padding-top: 8px;
  padding-left: 16px;
  width: 344px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_1 span#rtr-s-Two-line-item_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_1 span#rtr-s-Two-line-item_1_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_1 span#rtr-s-Two-line-item_1_2 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_1 span#rtr-s-Two-line-item_1_3 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_1 span#rtr-s-Two-line-item_1_4 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_2 {
  position: absolute;
  top: 84px;
  left: 0px;
  padding-top: 8px;
  padding-left: 16px;
  width: 344px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_2 span#rtr-s-Two-line-item_2_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_2 span#rtr-s-Two-line-item_2_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_2 span#rtr-s-Two-line-item_2_2 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_2 span#rtr-s-Two-line-item_2_3 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_3 {
  position: absolute;
  top: 134px;
  left: 0px;
  padding-top: 8px;
  padding-left: 16px;
  width: 344px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_3 span#rtr-s-Two-line-item_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_3 span#rtr-s-Two-line-item_3_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_3 span#rtr-s-Two-line-item_3_2 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_9 {
  position: absolute;
  top: 184px;
  left: 0px;
  padding-top: 8px;
  padding-left: 16px;
  width: 344px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_9 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_9 span#rtr-s-Two-line-item_9_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_9 span#rtr-s-Two-line-item_9_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_9 span#rtr-s-Two-line-item_9_2 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Titulo {
  position: absolute;
  top: 36px;
  left: 53px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Titulo .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Titulo span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Titulo span#rtr-s-Titulo_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Titulo span#rtr-s-Titulo_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}