#s-e89e3cab-b952-46d2-8888-56c05c9f4343 #s-Titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e89e3cab-b952-46d2-8888-56c05c9f4343 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}