#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextStats_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextStats {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextStats_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_23 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextPoints {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Avatar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-line-grey {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-line-green {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextoVotos_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-NumVotos_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ImagenVota_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextoVotos_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-NumVotos_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ImagenVota_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextoVotos_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-NumVotos_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ImagenVota_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextoVotos_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-NumVotos_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ImagenVota_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextoVotos_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-NumVotos_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ImagenVota_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-TextoVotos_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-NumVotos_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ImagenVota_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-LabVota {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-LabObserv {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Separador_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteButton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingButton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ObservationsButton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeButton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteIcon_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteButton_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingIcon_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingButton_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ObservationsButton_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeIcon_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeButton_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeIcon_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeButton_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ObservationsButton_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteIcon_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteButton_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingIcon_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingButton_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeIcon_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-HomeButton_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ObservationsButton_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteIcon_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-VoteButton_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingIcon_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-RankingButton_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Ellipse_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ObservationsIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Ellipse_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-base_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Label_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-ScreenName {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-more-vertical_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=44) ;
  filter: alpha(opacity=44) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-66c252c8-1e7c-4aee-a828-bf951def0367 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}