#s-70309ff9-384f-48d8-8ae4-e0975cc4ecc3 #s-Titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-70309ff9-384f-48d8-8ae4-e0975cc4ecc3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}