#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Two-line-item_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 #s-Titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-72d4950b-d705-4f69-9a03-f83d045e4bd4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}