#s-c05fdd39-8da5-4c07-b36b-ebd91ce0a3e4 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c05fdd39-8da5-4c07-b36b-ebd91ce0a3e4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c05fdd39-8da5-4c07-b36b-ebd91ce0a3e4 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c05fdd39-8da5-4c07-b36b-ebd91ce0a3e4 #s-spinner-2 {
  -ms-transform: rotate(0.0deg);
}
#s-c05fdd39-8da5-4c07-b36b-ebd91ce0a3e4 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c05fdd39-8da5-4c07-b36b-ebd91ce0a3e4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}