#s-ca3704e6-7bdd-4f38-a2f2-7d45fd0748d2 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ca3704e6-7bdd-4f38-a2f2-7d45fd0748d2 #s-TextStats_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ca3704e6-7bdd-4f38-a2f2-7d45fd0748d2 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ca3704e6-7bdd-4f38-a2f2-7d45fd0748d2 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ca3704e6-7bdd-4f38-a2f2-7d45fd0748d2 #s-TextStats {
  -ms-transform: rotate(0.0deg);
}
#s-ca3704e6-7bdd-4f38-a2f2-7d45fd0748d2 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ca3704e6-7bdd-4f38-a2f2-7d45fd0748d2 #s-ImagenObservacion {
  -ms-transform: rotate(0.0deg);
}
#s-ca3704e6-7bdd-4f38-a2f2-7d45fd0748d2 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-ca3704e6-7bdd-4f38-a2f2-7d45fd0748d2 #s-Titulo {
  -ms-transform: rotate(0.0deg);
}
#s-ca3704e6-7bdd-4f38-a2f2-7d45fd0748d2 #s-arrow-back_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ca3704e6-7bdd-4f38-a2f2-7d45fd0748d2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}